{{- $host := dict -}}
{{- if hasKey .hosts .chezmoi.hostname }}{{ $host = index .hosts .chezmoi.hostname }}{{ end -}}
{{- $host = merge $host .defaults -}}

{{- if eq .chezmoi.hostname "omarchy" }}
# omarchy-specific zsh env tweaks
{{- end }}

{{- if eq .chezmoi.hostname "pat-ws" }}
# pat-ws-specific zsh env tweaks
{{- end }}
