# Extra env variables
# env = MY_GLOBAL_ENV,setting
# (~/.local/bin is already in PATH via Omarchy defaults; scripts live there.)
{{- $host := index .hosts .chezmoi.hostname }}
{{- if eq $host.gpu "nvidia" }}
env = NVD_BACKEND,direct
env = LIBVA_DRIVER_NAME,nvidia
env = __GLX_VENDOR_LIBRARY_NAME,nvidia
{{- end }}
